*{
  margin: 0;
}
.app{
  background-color: #fafafa;
  /* height: 100vh; */
}
.app_headerImage{
  /* background-color: white; */
  object-fit: contain;
  /* width: 200px; */
  height: 60px;
}
.app_posts{
  padding: 20px;
}
.app_header{
  padding: 20px;
  border-bottom: solid lightgray 1px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.app_headerImage{
  object-fit: contain;
}
.app_signup{
  display: flex;
  flex-direction: column;
}