*{
  margin: 0;
}
.app{
  background-color: #fafafa;
  height: 100vh;
}
.app_headerImage{
  /* background-color: white; */
  object-fit: contain;
  /* width: 200px; */
  height: 60px;
}
.app_header{
  padding: 20px;
  border-bottom: solid lightgray 1px;
  background-color: white;
  width: 100%;
}