.post{
    background-color: white;
    /* max-width: 500px; */
    border: 1px solid lightgrey;
    margin-bottom: 45px;
}
.post_image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
} 
.like{
    fill: #ed4956!important;
    stroke: #ed4956!important;
}
.post_text{
    font-weight: normal;
    padding: 0 20px;
}
.post_header{
    display: flex;
    align-items: center;
    padding: 10px;
}
.post_avatar{
    margin-right: 10px;
}
.post_commentbox{
    display: flex;
    margin-top: 10px;
}
.post_input{
    border: none;
    flex: 1;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.post_button{
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    background-color: transparent;
    color: #6082a3;
}
.post_comments{
    padding: 20px;
    max-height: 50px;
    overflow-y: auto;
}
.flex1{
    flex:1;
}
svg{
    padding: 0.5rem;
    cursor: pointer;
}
.major_svg{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}